<!-- Services-->
<section class="page-section" id="services">
    <br> <br>
    <br>

    <div class="container ">
        <h2>At Your Service</h2>
        <hr class="divider" />
        <div [ngClass]="isActive ? 'fade-1':'fade-2'" (scroll-in)="activate()" (scroll-out)="deactivate()"
            class="columna">
            <div>
                <div class="mt-5">
                    <div class="mb-2"><img src="../../../assets/images/iconos/001-sitio-web.png" alt=""></div>
                    <h2 class="h4 mb-2">Web development</h2>
                    <div class="info">
                        <p>From developing a simple single static page of plain text to complex web
                            applications, api development, electronic businesses</p>
                    </div>

                </div>
            </div>
            <div>
                <div class="mt-5">
                    <div class="mb-2"><img src="../../../assets/images/iconos/002-bases-de-datos.png" alt=""></div>
                    <h2>Database</h2>
                    <div class="info">
                        <p>Database administration and maintenance</p>

                    </div>
                </div>
            </div>

            <div>
                <div>
                    <div><img src="../../../assets/images/iconos/003-tecnologia.png" alt=""></div>
                    <h2>Server</h2>
                    <div class="info">
                        <p>Server development and maintenance. Nodejs, Apache, Nginx,Apis</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>