.icono-color{
    color: rgb(17, 145, 28);
}

.fade-1{
    opacity: 1;
    transition-delay: 300ms;
    transition-duration: 2s;
  }
  .fade-2{
    opacity:0;
    
  }
  .container {
      width: 80%;
      text-align: center;
      margin: auto;
      font-size: 20px;
     
  }
  .info{
      padding-left: 20px;
      padding-right: 20px;
  }
  .columna{
      margin-top: 20px;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
  .page-section{
      margin-top: 100px;
  }
  @media screen and (max-width: 700px) {
    .columna{
        display:grid;
        grid-template-columns: 1fr;
    }
    .info{
        padding-left: 0px;
        padding-right: 0px;
    }
    .container {
        color: black;
        width: 100%;
        text-align: center;
        margin: auto;
        font-size: 25px;
        padding: 10px;
       
    }
  }