icono-color{
    color: rgb(17, 145, 28);
}
.fade-1{
    opacity: 1;
    transition-delay: 300ms;
    transition-duration: 2s;
  }
  .fade-2{
    opacity:0;
    
  }
  .container {
      width: 80%;
      text-align: center;
      margin: auto;
     
  }
  .columna{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
  .page-section{
      margin-top: 100px;
  }
  @media screen and (max-width: 700px) {
    .columna{
        display:grid;
        grid-template-columns: 1fr;
    }
  }