/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body { height: 100vh;
position: relative;
overflow: visible;
}
body { 
       color: rgb(59, 110, 8);
    margin: 0; font-family: "Alfa+Slab+On" !important;
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    body{
        height: 100%;
    }
}

